{% extends 'base.html'  %}

{% block content %}

<h1>THIS IS OUR CONTACT US PAGE</h1>
<br>
<h2>What is contact information?</h2>
<p>
Your contact information is used to contact you, and can include information such as your name, phone number and email. It could also include your professional profile, if you have one and if necessary or relevant for the jobs you're applying for.

During the hiring process, employers use the contact information listed on your resume to provide updates about your job application, including getting in touch to schedule initial interviews and filling out paperwork regarding your pending employment.
</p>
<p>
You can contact us via Facebook, LinkedIn, Twitter, Instagram and WhatsApp.
</p>
{% endblock %}