{% extends 'base.html'  %}

{% block content %}
<html>
<body>
<h1>THIS IS THE REGISTRATION PAGE</h1>
<br>
 <form method="post" action='/formprocess'>
        {% csrf_token %}
        <b>NAME:</b>    <br/>                     
        <input type='text' name='name' required /><br/>
        <b>EMAIL ID:</b><br/>                 
        <input type='EMAIL' name='email' required /><br/>
        <b>BIRTHDAY:</b><br/>                 
        <input type='date' name='birthday' required /><br/>
        <b>MOBILE NO.:</b><br/>               
        <input type='tel' name='mob_no.' required /><br/>
        <b>PASSWORD:</b><br/>                 
        <input type='password' name='password' required /><br/>
        <input type="submit"/>
        <input type="reset"/>
        </form>
</body>
</html>
{% endblock %}