{% extends 'base.html' %}

{% block content %}

<h1>THIS IS THE ABOUT US PAGE</h1>
<p>
->We are the official content creator for Formula 1.<br>
->You can find all the latest ongoings in the world of Formula 1 over here at the tip of your finger.<br>
->Find all the latest constructor standing along with the standings of drivers as well.<br>
->Vote for your driver of the day every raceweek and win exciting prizes.<br>
->Connect with other Formula 1 followers and develop your knowledge as well as grow your network.<br>
</p>

{% endblock%}
