{% extends 'base.html'  %}

{% block content %}

<h1>THIS IS THE Home PAGE</h1>
<br>
<h1>15 FACTS ABOUT F1 CARS THAT YOU DIDN'T KNOW</h1>
<br>
<p>
1. EACH CAR IS MADE UP OF EIGHTY THOUSAND SEPARATE COMPONENTS<br>  
2. THE HALO SAFETY DEVICE ABOVE THE COCKPITS CAN SUSTAIN 5 TONNES OF IMPACT<br>
3. AN F1 CAR CAN GO FROM 0-100MPH AND BACK DOWN TO 0 IN AS LITTLE AS 4 SECONDS<br>
4. BRAKES IN AN F1 CAR CAN REACH 1000*C AND STILL WORK FINE<br>
5. DRIVERS CAN LOSE UP TO 6KG DURING THE SINGAPORE GP AND NORMALLY UPTO 4KG<br>
6. THE CARS CAN RUN UPSIDE DOWN IN A TUNNEL AT 120MPH<br>
7. Average Basic Cost Of An F1 Car Is $7 Million Without Basic Components<br>
8. THERE WAS ONCE A PLAN TO BUILD A 12-WHEEL F1 CAR<br>
9. EVERYTHING ON AN F1 TRACK HAS TO BE WELDED INTO THE GROUND<br>
10. Engine Can't Be Turned When It's Cold<br>
11. The F1 Engine Can't Work For More Than Five Races<br>
12. The Tires Lose Up To 0.5 KGS Per Race<br>
13. Its Helmet Is One Of The Strongest In The World<br>
14. There's Been One Female Driver Who Has Managed To Score A Point<br>
15. An F1 Steering Wheel Have Up To 20 Buttons  <br>  
</p>

{% endblock %}